<launch>
    <arg name="dsrc_address" default="${DSRC_ADDRESS}" />
    <arg name="dsrc_listening_port" default="${DSRC_REMOTE_PORT}" />
    <arg name="listening_port" default="${DSRC_LOCAL_PORT}" />
    <arg name="wave_cfg_file" default="$(find dsrc_driver)/etc/wave.json" />

    <node name="dsrc" pkg="dsrc_driver" type="dsrc_driver_node" output="screen">
        <param name="dsrc_address" value="$(arg dsrc_address)" />
        <param name="dsrc_listening_port" value="$(arg dsrc_listening_port)" />
        <param name="listening_port" value="$(arg listening_port)" />
        <param name="wave_cfg_file" value="$(arg wave_cfg_file)" />
    </node>
</launch>
